.vs/
OpenSilverAppSettings/OpenSilverAppSettings/bin/
OpenSilverAppSettings/OpenSilverAppSettings/obj/
OpenSilverAppSettings/OpenSilverAppSettings.Browser/bin/
OpenSilverAppSettings/OpenSilverAppSettings.Browser/obj/
OpenSilverAppSettings/OpenSilverAppSettings.Simulator/bin/
OpenSilverAppSettings/OpenSilverAppSettings.Simulator/obj/
